.tab-content
  .tab-pane.fade{id:"tasklist#{params[:id]}"}
  -@tasks.each do |task|
    .row
      .card.col-sm-10
        .row
          .col-sm-8.align-self-center
            %div{id:"task#{task.id}",onClick:"renderUpdate(#{params[:id]},#{task.id})"}
              =task.name
          .col-sm-2
            %button.float.right.card-body.btn.fa.fa-edit{onclick: "renderUpdate(#{params[:id]},#{task.id})"}
          .col-sm-2
            %button.float-left.card-body.btn.far.fa-trash-alt{onClick:"deleteTask(#{params[:id]},#{task.id})"}
            %br
    %br
  .row
    %br
    %button{onClick:"addTask(#{params[:id]})",class: "btn btn-primary"} Add Task
