.row.algin-middle{id: "tasklist_list#{@tasklist.id}"}
  .col-sm-8
    .tasklist_list{onclick: "renderTask(#{@tasklist.id},#{current_user.tasklists.count - 1 })",id: "tasklist#{@tasklist.id}"} #{@tasklist.name}
  .co-sm-1
    %a.fa.fa-edit.float-right{onclick: "renderUpdateTasklist(#{@tasklist.id})"}
  .col-sm-1
    =link_to '', tasklist_path(@tasklist.id),method: 'delete', class: "float-right fa fa-trash-alt" ,id: "delete"