%nav.navbar.navbar-light.bg-warning
  .container-fluid
    .navbar-header
      %a.navbar-brand{href:"#"} Todo List
    %ul.nav.nav-pills
      %li.nav-item
        -if user_signed_in?
          =link_to 'Sign out', destroy_user_session_path, method: 'delete', class:"nav-link"
%br
.container
  .row
    .col-sm-2
      Task list
      %a.float-right.fa.fa-plus{onClick: 'addTasklist()'}
      %hr
      #newtasklist
      - tasklistCount = 0
      -@tasklists.each do |tasklist|
        .row.align-middle
          .col-sm-6
            .tasklist_list{onClick: "renderTask(#{tasklist.id},#{tasklistCount})", id:"tasklist#{tasklist.id}"} #{tasklist.name}
          .co-sm-1
            %a.fa.fa-edit.float-right{onclick: "renderUpdateTasklist(#{tasklist.id})"}
          .col-sm-1
            =link_to '', tasklist_path(tasklist.id),method: 'delete', class: "float-right fa fa-trash-alt" ,id: "delete"
        - tasklistCount += 1
        %br
    .col-sm-1
    .col-sm-8
      .row
        #tasks{style:"width:90%"}