.container
  %h1{:class =>"text-center"}Hello, You have #{@tasks.count} tasks in #{Tasklist.find(params[:tasklist_id]).name}
.container{:class => "col-sm-6"}
  - @tasks.each do |task|
    .card{:style=>'margin-bottom:10px'}
      .card-body
        .card-title
          %b #{task.name}
        %h5{:class =>"card-text"}
          =task.body
      .card-footer
        .container
          .row
            .custom-control{:class=>"custom-switch col-sm-2"}
              %input{:class=>"custom-control-input",:type=>"checkbox",:id=>"status#{task.id}",checked: task.status}
                %label{:class=>"custom-control-label",:for=>"status#{task.id}" }Done
            =link_to '',tasklist_task_path(task.tasklist_id,task.id),method: :delete,data:{confirm: "Are you sure? "},class: "fa fa-trash col-sm-1"
            =link_to '', edit_tasklist_task_path(task.tasklist_id,task.id),class: "fa fa-edit col-sm-1"


    %script
      $('#status#{task.id}').click(function(){ajaxcall(#{task.tasklist_id},#{task.id})});
  = link_to 'Create new task', new_tasklist_task_path
  %br
  =link_to 'Go Back',tasklists_path
  %br
  = link_to 'Sign Out',destroy_user_session_path,method: :delete if user_signed_in?